@using PagedList;
@using PagedList.Mvc;

@model IPagedList<MoneyRecordViewModel>
@{
    Layout = null;
    int recordCount = 0;
    string area = (string)ViewContext.RouteData.DataTokens["area"];
    bool isAdmin = area == "skilltree";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.First().category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().money)
                </th>

                @if (isAdmin)
                {
                    <th>
                        <span class="fa fa-wrench"></span>
                    </th>
                }


            </tr>
            @foreach (var item in Model)
            {
                <tr class="@GerColor(item.category)">
                    <td>@(++recordCount)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.money)
                    </td>
                    @AdminCanEdit(isAdmin,item)
                </tr>
            }
        </table>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

@helper GerColor(MoneyCategory value)
{
switch (value)
{
    case MoneyCategory.pay:
            @:danger
            break;
        case MoneyCategory.income:
            @:info
            break;
    }
}

@helper AdminCanEdit(bool isAdmin, MoneyRecordViewModel item)
{
    if (isAdmin)
    {
        <td>
            <a href="@Url.Action("Edit",new {id=item.accountBookID })">
                <span class="fa fa-pencil-square"></span>
            </a>
        </td>
    }
}