@model Day1Homework.Models.ViewModels.MoneyRecordViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Money", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.accountBookID)
    @Html.Partial("~/Views/Shared/_MoneyForm.cshtml")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section pagejs
{
    <script>
        $.validator.addMethod('notgreaterthantoday', function (value, element, param) {
            if (value) {
                var d = Date.parse(value);
                if (d > new Date) {
                    return false;
                }
            }
            return true;
        });
        $.validator.unobtrusive.adapters.addBool('notgreaterthantoday');
    </script>

    @if (ViewData["AlertViewModel"] != null)
    {
        @Html.Partial("_sweetalert2", ViewData["AlertViewModel"])
    }
}